.stories-container {
  display: flex;
  flex-direction: row;
}

.story-image {
  height: 70px;
  width: 70px;
}

.profile-post-image {
  height: 250px;
  width: 250px;
  margin-right: 30px;
}

.counts-container {
  display: flex;
  flex-direction: row;
}
