.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-input {
  width: 200px;
  height: 30px;
}

.header-search-button {
  width: 50px;
  height: 30px;
}

.menu-container {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin: 15px;
  list-style-type: none;
}

.input-search-container {
  display: flex;
  flex-direction: row;
  margin-left: 550px;
}

.button {
  background-color: #4094ef;
  border-width: 0px;
  color: white;
  border-radius: 8px;
  width: 86px;
  height: 32px;
}

.bg-container1 {
  margin-bottom: 40px;
}

.header-website-logo {
  width: 54px;
  margin-right: 10px;
}
