.no-posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.posts-view-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -15px;
}

.post-image {
  width: 118px;
  height: 118px;
}

.user-profile-container {
  height: 100vh;
  width: 100%;
  background-color: #fafafa;
}

.user-profile-success-view-container {
  display: flex;
  flex-direction: row;
}

.user-profile-pic {
  height: 96px;
  width: 96px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .user-profile-pic {
    width: 190px;
    height: 190px;
    margin-right: 65px;
  }
}

.story-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
